In [13]:
# 1. In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.
# * = expression
#A = 'hello' 
#type(A) = String 
# -87.8 = Float
# - = expression
# | = expression
# + = expression
# 6 = Integer

In [15]:
#2. "Hello" = String 
#A = "Hello"
#A = variable is a name used to store data

In [19]:
#3. 
#marks = 20
#type (marks) = Integer
#A = -0.5 = Float
#"sachin" = string

In [20]:
#4.An expression is made up of values, variables, operators. All expression evaluate to a value.

In [21]:
#5.expression = A code that evaluates to a value.e.g 2+2, "hello", 2*5.
#statement = A code that does something like assigning a value(spam= 10) and printing out (print('hello')).

In [23]:
#6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
# bacon will conatain 23

23

In [25]:
7. What should the values of the following two terms be?
#'spam' + 'spamspam'
'spam'*3
# both result = 'spamspamspam'

Object `be` not found.

'spamspamspam'

In [26]:
#8.because variable start with letters or underscore 
#eggs = it start with letter and 100 with number is invalid

In [29]:
#9. int() 
# float()
# str()

#a = int("10")
#print(a, type(a))

b = float("11.5")
print(b, type(b))

11.5 <class 'float'>

In [27]:
#10.10. Why does this expression cause an error? How can you fix it?
#'I have eaten ' + 99 + 'burritos.'
'I have eaten ' + str(99) + 'burritos.'

'I have eaten 99burritos.'