In [1]:
#1.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#2.
total = 0
for i in range(1,101):
    total += i
    print("sum:", total)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15
sum: 21
sum: 28
sum: 36
sum: 45
sum: 55
sum: 66
sum: 78
sum: 91
sum: 105
sum: 120
sum: 136
sum: 153
sum: 171
sum: 190
sum: 210
sum: 231
sum: 253
sum: 276
sum: 300
sum: 325
sum: 351
sum: 378
sum: 406
sum: 435
sum: 465
sum: 496
sum: 528
sum: 561
sum: 595
sum: 630
sum: 666
sum: 703
sum: 741
sum: 780
sum: 820
sum: 861
sum: 903
sum: 946
sum: 990
sum: 1035
sum: 1081
sum: 1128
sum: 1176
sum: 1225
sum: 1275
sum: 1326
sum: 1378
sum: 1431
sum: 1485
sum: 1540
sum: 1596
sum: 1653
sum: 1711
sum: 1770
sum: 1830
sum: 1891
sum: 1953
sum: 2016
sum: 2080
sum: 2145
sum: 2211
sum: 2278
sum: 2346
sum: 2415
sum: 2485
sum: 2556
sum: 2628
sum: 2701
sum: 2775
sum: 2850
sum: 2926
sum: 3003
sum: 3081
sum: 3160
sum: 3240
sum: 3321
sum: 3403
sum: 3486
sum: 3570
sum: 3655
sum: 3741
sum: 3828
sum: 3916
sum: 4005
sum: 4095
sum: 4186
sum: 4278
sum: 4371
sum: 4465
sum: 4560
sum: 4656
sum: 4753
sum: 4851
sum: 4950
sum: 5050

In [6]:
#3.
number = int(input("enter number :"))
for i in range(1,11):
    print(f"{number} x {i} = {number * i}")

enter number : 21

21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

In [8]:
#4.

In [9]:
#5.
num = int(input("enter number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
    print("factorial:", factorial)

enter number:  5

factorial: 1
factorial: 2
factorial: 6
factorial: 24
factorial: 120

In [10]:
#6.
n = int(input("enter the number of fibonacci: "))
a, b = 0,1
for i in range(n):
    print(a, end="")
    a, b = b, a+b

enter the number of fibonacci:  15

01123581321345589144233377

In [14]:
#7.

In [18]:
#8.
numbers =[5,8,3,12,4]
max_num = numbers[0]
for num in numbers:
    if num > max_num:
      max_num = num
    print("largest number: ",max_num)

largest number:
largest number:
largest number:
largest number:
largest number:

In [24]:
#9.

In [23]:
#10.
list1 = [1,2,3]
list2 = [4,5,1]
common = []

for item in list1:
    for item2 in list2:
        if item == item2:
            common.append(item)
            print("common elements:",common)

common elements: [1]